---
import { ClientRouter } from "astro:transitions";

let { title, description, image } = Astro.props;
const titleFull = title || "Jonathan Eslavi Medina Davila | Desarrollador Fullstack | Pagina web de mi cv";
const urlFull = "https://eslavi-cv.vercel.app" + Astro.url.pathname;
const descriptionFull = description || "Un desarrollador fullstack que ama programar y aprender nuevas cosas. Actualmente viviendo en México, en la ciudad de Guadalajara";
const imageFull = image || "/me-rounded.svg";
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />
<title>{titleFull}</title>
<meta name="title" content={titleFull} />
<meta name="description" content={descriptionFull} />

<!-- Web analytics -->
<script data-goatcounter="https://eslavi-cv.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- Open Graph tags -->
<meta property="og:title" content={titleFull} />
<meta property="og:type" content="website" />
<meta property="og:url" content={urlFull} />
<meta property="og:description" content={descriptionFull} />
<meta property="og:image" content={imageFull}>
<meta property="og:image:alt" content="">
<link rel="canonical" href={urlFull}>

<!-- <SomeOtherTags /> -->
<!-- Favicon universe made by Ariyanto Deni from <a href="https://thenounproject.com/browse/icons/term/universe/" target="_blank" title="universe Icons">Noun Project</a> (CC BY 3.0) -->
<link rel="icon" type="image/svg+xml" href="/faviconmine.svg" />

<!-- Twitter Meta Tags -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://x.com/eslavi" />
<meta property="twitter:title" content={titleFull} />
<meta property="twitter:description" content={descriptionFull} />
<meta property="twitter:image" content={imageFull} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- View Transitions Astro -->
<ClientRouter />