---
import { type LinksGroup } from "@/interfaces/LinksGroup.ts";
import WobbleCard from "@/components/WobbleCard.tsx";

interface Props {
    list: LinksGroup[];
    gridArea?: string[];
}

const { list, gridArea = ["box-1 box-2 box-2 box-3", "box-1 box-4 box-5 box-5"]} = Astro.props;

const gridTemplateAreas = gridArea.map(row => `"${row}"`).join(" ");
---

<!-- <section class="w-full px-4 md:px-[3.5rem] py-16 flex flex-col items-center gap-10">
    <header class="flex flex-col gap-4 items-center max-w-[612px]">
        <h2 class="text-bittersweet dark:text-cream text-center text-balance text-4xl md:text-[3.5rem] leading-[.9285714286] font-medium tracking-[-.03em] m-0 optical-size-32">Publish from anywhere with your frontmatter blog</h2>
        <p class="text-black dark:text-white text-center m-0 max-w-prose">Why should you be left out of a cross device writing experience because you’re using a static site? Bureau takes away the pain of manually moving posts to your codebase and gives you the writing experience you need.</p>
    </header>

    <div class="w-full max-w-[1328px] grid grid-cols-12 grid-flow-dense xl:auto-rows-fr gap-4">
        <section class="@container/section flex flex-col col-span-full md:col-span-6 xl:row-span-4 gap-2 p-2 bg-gunmetal-850 ring ring-gunmetal-750 rounded-2xl">
            <div class="p-6 flex flex-1 flex-col gap-4">
                <h3 class="text-cream font-semibold flex flex-col @[17.5rem]:flex-row @[17.5rem]:items-center gap-4 [font-variation-settings:'opsz'_32]">
                <span class="bg-gunmetal-750 ring ring-gunmetal-650 w-10 h-10 flex flex-[0_0_auto] items-center justify-center rounded-full" aria-hidden="true"><svg class="fill-cream" width="24" height="24"><use href="#automated"></svg></span> Automated versioning with Git
                </h3>
                <p class="text-white text-pretty max-w-prose">When you create a new post Bureau automatically creates a branch—keep working on drafts as long as you need. Open a pull request when you’re done and find yourself publishing more than ever.</p>
            </div>
            <div class="flex justify-center items-end rounded-lg bg-gunmetal-800 ring ring-gunmetal-750 overflow-hidden aspect-[100/66] md:aspect-square xl:aspect-[640/376]">
                <img srcset="images/git-versioning.png 1x, images/git-versioning@2x.png 2x" class="object-none object-[center_1rem] w-full h-full [mask-image:var(--image-mask-bottom)]" width="468" height="376">
            </div>
        </section>
    </div>
</section> -->

<section class="w-full px-4 md:px-[3.5rem] py-16 flex flex-col items-center gap-10">
    <div class="grid-container" style={`grid-template-areas: ${gridTemplateAreas};`}>
        <!-- <svg class="bg-red-300">
            <filter id={`grainy-filter`} x="0" y="0" width="100%" height="100%">
                <feTurbulence type="turbulence" baseFrequency="0.65" />
                <feColorMatrix type="saturate" values="0" />
                </filter>
                </svg> -->
                {
                list.map((item, index) => (
                    <WobbleCard className="box" title={item.title} description={item.description} index={index} client:only="react"/>
                //     <div class="box" style={`grid-area: box-${index + 1}`}>
                //     {item.title}
                //     <div class="p-6 flex flex-1 flex-col gap-4">
                //         {/* <h3 class="text-cream font-semibold flex flex-col @[17.5rem]:flex-row @[17.5rem]:items-center gap-4 [font-variation-settings:'opsz'_32]">
                //             <span class="bg-gunmetal-750 ring ring-gunmetal-650 w-10 h-10 flex flex-[0_0_auto] items-center justify-center rounded-full" aria-hidden="true">
                //             <svg class="fill-cream
                //             " width="24" height="24">
                //             <use href="#automated"></svg>
                //             </span> {item.title}
                //             </h3> */}
                //         <p class="text-white text-pretty max-w-prose">{item.description}</p>
                //     </div>
                //     <div class="w-full max-w-[1328px] grid grid-cols-12 grid-flow-dense xl:auto-rows-fr gap-4">
                //         <section class="@container/section flex flex-col col-span-full md:col-span-6 xl:row-span-4 gap-2 p-2">
                //             {/* <div class="flex justify-center items-end rounded-lg bg-gunmetal-800 ring ring-gunmetal-750 overflow-hidden aspect-[100/66] md:aspect-square xl:aspect-[640/376]">
                //                 <img srcset={item.image} class="object-none object-[center_1rem] w-full h-full [mask-image:var(--image-mask-bottom)]" width="468" height="376">
                //                 </div> */}
                //         </section>
                //     </div>
                // </div>
            ))
        }
    </div>
</section>


<style>
    .grid-container {
        display: grid;
        grid-auto-columns: 200px;
        grid-auto-rows: 200px;
        gap: 1em;
    }
</style>