---
import CardDialog from "@/components/en/Card-dialog";

interface Props {
    img: string;
    imgAlt: string;
    title: string;
    description: string;
    buttonText: string;
    fullDescription: string;
    technologies: string[];
}

const { img, imgAlt, title, description, buttonText = "Read more", fullDescription, technologies } = Astro.props;
---

<div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96">
    <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
        <!-- <img src={img} alt={imgAlt} /> -->
    </div>
    <div class="p-4">
        <h6 class="mb-2 text-slate-800 text-xl font-semibold">
        {title}
        </h6>
        <p class="text-slate-600 leading-normal font-light" set:html={description}></p>
    </div>
    <div class="px-4 pb-4 pt-0 mt-2">
        <CardDialog client:load title={title} fullDescription={fullDescription} technologies={technologies}>
            <span slot="button">{buttonText}</span>
        </CardDialog>
    </div>
</div>