---
import CardDialog from "@/components/en/Card-dialog";

interface Props {
    img: string;
    imgAlt: string;
    title: string;
    description: string;
    buttonText: string;
    fullDescription: string;
    technologies: string[];
}

const { img, imgAlt, title, description, buttonText = "Read more", fullDescription, technologies } = Astro.props;
---

<div class="relative flex flex-col my-4 bg-card shadow-sm border border-ring rounded-lg w-96 justify-end">
    <div class="relative h-40 m-2.5 overflow-hidden rounded-md self-center">
        <img src={img} alt={imgAlt} />
    </div>
    <div class="p-4">
        <h6 class="mb-2 text-accent-foreground text-xl font-semibold">
        {title}
        </h6>
        <p class="text-muted-foreground leading-normal font-light" set:html={description}></p>
    </div>
    <div class="px-4 pb-4 pt-0 mt-2">
        <CardDialog client:load title={title} fullDescription={fullDescription} technologies={technologies}>
            <span slot="button">{buttonText}</span>
        </CardDialog>
    </div>
</div>