---
import { type CardList } from "@/interfaces/CardList.ts";
import Card from "./Card.astro";

interface Props {
    cardList: CardList[];
}

const { cardList } = Astro.props;
---

<div class="grid grid-cols-3 space-x-4">
    {
        cardList.map((item) => (
            <Card img={item.img} imgAlt={item.imgAlt} title={item.title} description={item.description} buttonText={item.buttonText} fullDescription={item.fullDescription} technologies={item.technologies}></Card>
        ))
    }
</div>