---
import { ClientRouter } from "astro:transitions";

let { title, url, description, image } = Astro.props;
title || (title = "Jonathan Eslavi Medina Davila | Fullstack developer | CV website");
url || (url = "https://eslavi-cv.vercel.app/");
description || (description = "A fullstack developer who loves to code and learn new things. Currently living in Mexico, Guadalajara city");
image || (image = "/me-rounded.svg");

---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml">
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Web analytics -->
<script data-goatcounter="https://eslavi-cv.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image}>
<meta property="og:image:alt" content="">
<link rel="canonical" href={url}>

<!-- <SomeOtherTags /> -->
<!-- Favicon universe made by Ariyanto Deni from <a href="https://thenounproject.com/browse/icons/term/universe/" target="_blank" title="universe Icons">Noun Project</a> (CC BY 3.0) -->
<link rel="icon" type="image/svg+xml" href="/faviconmine.svg" />

<!-- Twitter Meta Tags -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://x.com/eslavi" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- View Transitions Astro -->
<ClientRouter />